{% extends "@BurutBase/layout.html.twig" %}
{% set user = base.user %}

{% block content %}

<div style="padding-left: 50px; padding-top: 50px;">
    <b>{{ base.title }}</b> - delete base
    <div style="padding-left: 30px; padding-top: 30px;">
        You sure to delete this base?<br><br>
        <table>
            <tr>
                <td style="min-width: 70px; height: 30px;">id</td>
                <td>{{ base.id }}</td>
            </tr>
            {#{% for key, value in values %}#}
                {#<tr>#}
                    {#<td style="min-width: 70px; height: 30px;">{{ key }}</td>#}
                    {#<td>{{ value }}</td>#}
                {#</tr>#}
            {#{% endfor %}#}
        </table>
        <a href="{{ path("_home", {id: base.id}) }}">Back to list</a>
        &nbsp&nbsp&nbsp
        <a href="{{ path("_base_delete", {id: base.id, confirm:1 }) }}">Delete</a>
    </div>
</div>

{% endblock %}