{% extends "@BurutBase/layout.html.twig" %}
{% set user = base.user %}
{% block content %}

    <div style="padding-left: 50px; padding-top: 50px;">
        <b>{{ base.title }}</b> Edit database - fields
        <br/><br/>
        <div><a href="{{ path("_base_edit", {id: base.id}, {user: user}, {base: base}) }}">Configuration</a>&nbsp|&nbspFields</div>

    <form method="post" action="{{ path("_base_edit_fields", {id: base.id}) }}">
        <table>
            <tr>
                <td>Field title</td><td>Type</td><td>Field config</td><td>Show in list</td><td>Is requiered</td>
            </tr>
            {% for field in baseField %}

            <tr>
                <td><input name="{{ field.id }}[title]" type="text" value="{{ field.title }}" ></td>
                <td>
                    <select name="{{ field.id }}[type]">
                       {% for type in fieldType %}
                        <option value="{{ type.code }}" {{ type.code == field.fieldType.code ? 'selected' : '' }}>{{ type.code }}</option>
                       {% endfor %}
                    </select>
                </td>
                <td>{% if field.fieldType.code == "LIST" %} <a href="{{ path("_field_config", {id: base.id}, {fieldId: field.id}) }}">Edit values</a>{% endif %}</td>
                <td><input name="{{ field.id }}[isShow]" type="checkbox" {{ field.isShow ? 'checked' : '' }} ></td>
                <td><input name="{{ field.id }}[isRequiered]" type="checkbox" {{ field.isRequiered ? 'checked' : '' }}></td>
                <td><a href="">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <br/>
        <input style="display: inline-block;" type="submit" value="Save changes">
        <a href="{{ path("_add_field", {id: base.id}) }}"><div style="display: inline-block; border: 2px solid #000000; border-radius: 5px; background-color: yellow;
 width: 120px; height: 20px; text-align: center; margin-left: 50px;">Add new field</div></a>
    </form>
    </div>
    <br/>
    <a href="{{ path("_home") }}"><div style="display: inline-block; border: 2px solid #000000; border-radius: 5px; background-color: yellow;
 width: 120px; height: 20px; text-align: center; margin-left: 50px;">Back to base list</div></a>
    <br/> <br/> <br/>
{% endblock %}