{% extends "@BurutBase/layout.html.twig" %}

{% set user = base.user %}

{% block content %}
    <div style="padding-left: 50px; padding-top: 50px;">
        <b>{{ base.title }}</b> - edit record
        <br/></br>
        {#<form method="post" action="{{ path("_edit_record", {id: baseRowId}) }}">#}

            <table>
                <tr>
                    <td style="min-width: 70px; height: 30px;">id</td>
                    {#<td>{{ baseRowId }}</td>#}
                </tr>
                {% for key, base in baseField %}
                    <tr>
                        <td style="min-width: 70px; height: 30px; vertical-align: middle;">{{ editRecord.field }}</td>
                        <td style="min-width: 70px; height: 30px; vertical-align: middle;">
                            {% if editRecord.type == "CH" %}
                                <input name="{{ key }}" type="checkbox" value="{{ editRecord.value }}">
                            {% elseif editRecord.type == "LIST" %}
                                <select name="{{ key }}">
                                    {% for select in editRecord.config %}
                                        <option {{ editRecord.value == select ? 'selected' : 'zzz' }} value="{{ select }}">{{ select }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input name="{{ key }}" type="text" value="{{ editRecord.value }}">
                            {% endif %}
                        </td>
                        {#{% endfor %}#}
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Save changes">

        </form>

        <br/></br>
        <a href="{{ path("_base_show", {id: base.id}) }}">Back to list</a>&nbsp&nbsp&nbsp&nbsp&nbsp
    </div>
{% endblock %}