{% extends "@BurutBase/layout.html.twig" %}

{% set user = base.user %}

{% block content %}

<b>{{ base.user.name }}</b>, your database <b>{{ base.title }}</b>:
<br/><br>

<table border="1">
    <thead>
    <tr>
        <th>id</th>
        {% for field in fields %}
            {% if field.isShow %}
            <th>{{ field.title }}</th>
            {% endif %}
        {% endfor %}
        <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for row in base.baseRows %}
        <tr>
            <td>{{ row.id }}</td>
            {% for field in fields %}
                {% if field.isShow %}
                   <td>{{ values[row.id][field.id] }}</td>
                {% endif %}
            {% endfor %}
            {#vardump {values.id}#}
            <td><a href="{{ path("_view_record", {id: row.id}) }}">View</a></td>
            <td><a href="{{ path("_edit_record", {id: row.id}) }}">Edit</a></td>
            <td><a href="{{ path("_record_delete", {id: row.id}) }}">Delete</a></td>
        </tr>
        {% endfor %}
    <a href="{{ path("_create_record", {id: base.id})}}">Create new record</a>
    </tbody>
</table>
{% endblock %}