{% extends "@BurutBase/layout.html.twig" %}

{% set user = base.user %}



{% block content %}
<div style="padding-left: 50px; padding-top: 50px;">
<b>{{ base.title }}</b> - edit record
<br/></br>

<table>
        <tr>
            <td style="min-width: 70px; height: 30px;">id</td>
            <td>{{ baseRowId }}</td>
        </tr>
    {% for key, editRecord in editRecordArray %}
         <tr>
            <td style="min-width: 70px; height: 30px; vertical-align: middle;">{{ editRecord.field }}</td>
            <td style="min-width: 70px; height: 30px; vertical-align: middle;">
                <form>
                    {% if editRecord.type == "CH" %}
                        <input type="checkbox" value="{{ editRecord.value }}">
                    {% elseif editRecord.type == "LIST" %}
                        <select>
                            {% for select in editRecord.config %}
                                <option>{{ select }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="text" value="{{ editRecord.value }}">
                    {% endif %}
                </form>
            </td>
            {#{% endfor %}#}
         </tr>
    {% endfor %}
</table>
    <br/></br>
    <a href="{{ path("_base_show", {id: base.id}) }}">Back to list</a>&nbsp&nbsp&nbsp&nbsp&nbsp
</div>
{% endblock %}