{% extends "@BurutBase/layout.html.twig" %}

{% set user = base.user %}



{% block content %}
<div style="padding-left: 50px; padding-top: 50px;">
<b>{{ base.title }}</b> - edit record
<br/></br>
    <form method="post" action="{{ path("_edit_record", {id: baseRowId}) }}">

    <table>
        <tr>
            <td style="min-width: 70px; height: 30px;">id</td>
            <td>{{ baseRowId }}</td>
        </tr>
    {% for key, editRecord in editRecordArray %}
         <tr>
            <td style="min-width: 70px; height: 30px; vertical-align: middle;">{{ editRecord.field }}</td>
            <td style="min-width: 70px; height: 30px; vertical-align: middle;">
                    {% if editRecord.type == "CH" %}
                        <input name="{{ key }}" type="checkbox" value="{{ editRecord.value }}">
                    {% elseif editRecord.type == "LIST" %}
                        <select name="{{ key }}">
                            {% for select in editRecord.config %}
                                <option {{ editRecord.value == select ? 'selected' : 'zzz' }} value="{{ select }}">{{ select }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input name="{{ key }}" type="text" value="{{ editRecord.value }}">
                    {% endif %}
            </td>
            {#{% endfor %}#}
         </tr>
    {% endfor %}
    </table>
        <br/>
        <div style="display: inline-block;"><input style="border: 2px solid #000000; border-radius: 5px; background-color: yellow;
                width: 120px !important; font-size: 14px; height: 25px; text-align: center;" type="submit" value="Save changes">
            <a href="{{ path("_base_show", {id: base.id}) }}"><div style="display: inline-block; margin-left: 30px;
                border: 2px solid #000000; border-radius: 5px; background-color: yellow;
                width: 90px; height: 20px; text-align: center;">Back to list</div></a>
        </div>
    </form>
    <br/>

</div>
{% endblock %}