{% extends "@BurutBase/layout.html.twig" %}
{#{% set user = base.user %}#}
{% block content %}
    {#<div style="padding-left: 50px; padding-top: 50px;">#}
    <div>Database <b>"{{ base }}"</b>, field "{{field.title }}"</div>
    <br/>
    <div>Enter each value per separate line:</div>
    <form method="post" action="{{ path("_field_config", {id: id, fieldId: fieldId}) }}">
    <table>
        <tr>
            <td>
                <textarea name="fieldConfig" style="height: 200px;">{{ field.config }}</textarea>
            </td>
            <td style="vertical-align: top;">
                <input type="submit" value="Save changes">
                <br/><br/>
                <a href="{{ path("_base_edit_fields", {id: id}) }}"><div style="display: inline-block;
                border: 2px solid #000000; border-radius: 5px; background-color: yellow;
                width: 80px; height: 20px; text-align: center;">Cancel</div></a>
            </td>
        </tr>
    </table>
    </form>

{% endblock %}