<!DOCTYPE html>
<html>
<head>
    {#{% block title %}Main page{% endblock %}#}
    {#<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>#}
    {#{% block js %}{% endblock %}#}
</head>
<body>
{#Это страничка Ваша страничка {{ user.name }}. <br/>#}
<br/>

{% block content %}
 Ваши базы<br/>
<br/>

    {% for base in bases %}
    <a style="display: inline-block; width: 100px; height: 70px;
        margin-left: 10px; border: 2px solid #000000;" href="{{ path("_base_show", {id: base.id}) }}">
        {#<td> {{ base.id }} </td>#}
        {#<td> {{ base.userId }} </td>#}
        <div> {{ base.title }} </div>
        {#<td> {{ base.color }} </td>#}
        <div> {{ base.keyFieldId }}</div>
        <div style="display: block; width: 30px; height: 20px;border:2px solid #000000;
                background-color: {{  base.color }};"></div>
        {#<td> {{ base.createdAt }}</td>#}

    </a>

    {% endfor %}

<br/><br/>
<a style="background-color: yellow;" href="{{ path("_base_create") }}">+Add new base</a>
{% endblock %}
<br/><br/><br/><br/>

<a href="{{ path("_logout") }}">logout</a>
</body>
</html>