This is {{ user.name }} {{ user.id }}page<br/>
<br/>
тут нужно будтт вывести спискк баз юзера<br/>
<br/>
<table>
    {% for base in bases %}
        base №  {{  base.id }}
    <tr>
        <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ base.id }} </td>
        <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ base.userId }} </td>
        <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ base.title }} </td>
        <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ base.color }} </td>
        <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ base.keyFieldId }}"</td>
        {#<td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ base.createdAt }}</td>#}

    </tr>
    {% endfor %}
</table>

<a href="{{ path("_logout") }}">logout</a>
