Это страничка Ваша страничка {{ user.name }}. <br/>
<br/>

{% block content %}
 Ваши базы<br/>
<br/>
<table>
    {% for base in bases %}

        {#<td> {{ base.id }} </td>#}
        {#<td> {{ base.userId }} </td>#}
        <td> {{ base.title }} </td>
        {#<td> {{ base.color }} </td>#}
        <td> {{ base.keyFieldId }}</td>
        <td style="border:2px solid #000000 ; background-color: {{  base.color }};">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        {#<td> {{ base.createdAt }}</td>#}

    </tr>
    {% endfor %}
</table>
<br/><br/>
<a style="background-color: yellow;" href="{{ path("_base_create") }}">+Add new base</a>
{% endblock %}
<br/><br/><br/><br/>

<a href="{{ path("_logout") }}">logout</a>
