{% extends "@BurutBase/layout.html.twig" %}
{% set user = base.user %}

{% block content %}

<div style="padding-left: 50px; padding-top: 50px;" xmlns="http://www.w3.org/1999/html">
    <b>{{ base.title }}</b> - delete record
    <div style="padding-left: 30px; padding-top: 30px;">
        You sure to delete this record?<br><br>
        <table>
            <tr>
                <td style="min-width: 70px; height: 30px;">id</td>
                <td>{{ baseRowId }}</td>
            </tr>
            {% for key, value in values %}
                <tr>
                    <td style="min-width: 70px; height: 30px;">{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <a href="{{ path("_record_delete", {id: baseRowId, confirm:1 }) }}"><div style="display: inline-block; border: 2px solid #000000; border-radius: 5px; background-color: yellow;
 width: 70px; height: 20px; text-align: center;">Delete</div></a>
        <a href="{{ path("_base_show", {id: base.id}) }}"><div style="display: inline-block; border: 2px solid #000000; border-radius: 5px; background-color: yellow;
 width: 120px; height: 20px; text-align: center; margin-left: 15px;">Back to list</div></a>
    </div>
</div>

{% endblock %}