<div style="padding-left: 50px; padding-top: 50px;">
<b>{{ base.title }}</b> - view record
<br/></br>

<table>
        <tr>
            <td style="min-width: 70px; height: 30px;">id</td>
            <td>{{ baseRowId }}</td>
        </tr>
    {% for key, value in values %}
         <tr>
            <td style="min-width: 70px; height: 30px;">{{ key }}</td>
            <td>{{ value }}</td>
         </tr>
    {% endfor %}
</table>
    <br/></br>
    <a href="">Edit</a>&nbsp&nbsp&nbsp&nbsp&nbsp
    {#<a href="{{ path("_record_delete", {id: baseRowId}) }}">Delete</a>&nbsp&nbsp&nbsp&nbsp&nbsp#}
    <a href="{{ path("_base_show", {id: base.id}) }}">Back to list</a>
</div>